**.iml
**/.gradle
**/local.properties
**/.idea
**/.idea
**/.idea
**/.idea
**/.idea
**/.idea/assetWizardSettings.xml
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild

**/jniLibs

/pkg
/bin
/target
wasm-pack.log
.crates.toml

*/node_modules
